
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Blog Template for Bootstrap</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../bootstrap-3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../bootstrap-3.1.1/css/blog.css">
<!-- Optional theme -->
<link rel="stylesheet" href="../bootstrap-3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="../bootstrap-3.1.1/js/jquery-2.1.1.min.js"></script>
<script src="../bootstrap-3.1.1/js/bootstrap.min.js"></script>



  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </div>

    <div class="container">
<br>
	<div class="row">
		<div class="col-md-4">
			<table class="table table-bordered">
				<tr>
					<td>Group Code</td>
					<td>
						<input type="text" name="">
					</td>
				</tr>
				<tr>
					<td>Group Name</td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td></td>
					<td>
					<input type="checkbox" name="">Bigget Unit <input type="checkbox" name="">Equal Pack Size 
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<button type="button" class="btn btn-primary">Add Group Product</button>
					&nbsp;
					<button type="button" class="btn btn-primary">Cancel </button>
				</tr>
			</table>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-8">
			<table class="table">
				<thead>
					<tr >
						<th>
						Group Code
						</th>
						<th>
						Group Name
						</th>
						<th>
						Biggest Unit
						</th>
						<th>
						EqUAL PackSize
						</th>
						<th>
						Manage
						</th>
					</tr>
					<tr>
						<td>
						1
						</td>
						<td>
						Energy Drink
						</td>
						<td>
						<span class="glyphicon glyphicon-ok"></span>
						</td>
						<td>
						<span class="glyphicon glyphicon-remove"></span>
						</td>
						
						<td>
						<button type="button" class="btn btn-primary">Edit </button>
						<button type="button" class="btn btn-danger">Delete </button>
						</td>
					</tr>
					<tr>
						<td>
						2
						</td>
						<td>
						Sport Drink
						</td>
						<td>
						<span class="glyphicon glyphicon-ok"></span>
						</td>
						<td>
						<span class="glyphicon glyphicon-remove"></span>
						</td>
						
						<td>
						<button type="button" class="btn btn-primary">Edit </button>
						<button type="button" class="btn btn-danger">Delete </button>
						</td>
					</tr>
					<tr>
						<td>
						3
						</td>
						<td>
						Soft Drink
						</td>
						<td>
						<span class="glyphicon glyphicon-ok"></span>
						</td>
						<td>
						<span class="glyphicon glyphicon-remove"></span>
						</td>
						
						<td>
						<button type="button" class="btn btn-primary">Edit </button>
						<button type="button" class="btn btn-danger">Delete </button>
						</td>
					</tr>
					<tr>
						<td>
						4
						</td>
						<td>
						Coffee
						</td>
						<td>
						<span class="glyphicon glyphicon-ok"></span>
						</td>
						<td>
						<span class="glyphicon glyphicon-remove"></span>
						</td>
						
						<td>
						<button type="button" class="btn btn-primary">Edit </button>
						<button type="button" class="btn btn-danger">Delete </button>
						</td>
					</tr>
				</thead>
			</table>
		</div>
	</div>
 
</div>
    

    <div class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


   
  </body>
</html>
